.lotusui30 .lotusNavMenu tr a, .lotusui30 .lotusNavMenu tr a:visited {
    color: #75263b;
}
.icBanner-popover-notificationReadAll {
    color: #75263b;
}
.lotusui30 a, .lotusui30 a:visited {
    color: #75263b;
}
.lotusui30 a.icBanner-footer-link {
    color: #75263b;
}
.lotusui30 a:active, .lotusui30 a:focus, .lotusui30 a:hover{
       color: #75263b;
}
.icBanner-notif-center .icBanner-popover-notificationReadAll:hover {
    color: #5A202F;
    text-decoration: underline;
}
.lotusui30 a.icBanner-footer-link:hover, .lotusui30 a.icBanner-footer-link:active {
    color:#5A202F;
}
